[submodule "BuilderBox_SmartContracts"]
	path = BuilderBox_SmartContracts
	url = https://github.com/namankhandelwal1607/BuilderBox_SmartContracts
[submodule "BuilderBox-contracts-Skaler"]
	path = BuilderBox-contracts-Skaler
	url = https://github.com/namankhandelwal1607/BuilderBox-contracts-Skaler.git
